<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.cpfr.dao.DeviceDao">
	<select id="selectDeviceList" parameterType="pd" resultType="pd">
		select * from tbl_#{wid}_device
    </select>

	<select id="selectInactDevice" parameterType="pd" resultType="pd">
		select * from tbl_inactivated_device where device_sn=#{device_sn}
	</select>

	<insert id="insertInactDevice" parameterType="pd">
		insert into tbl_inactivated_device(device_sn,status,online) values(#{device_sn},0,0)
	</insert>

	<update id="updateInactDeviceMacGrantKeyAndStatus" parameterType="pd">
		UPDATE tbl_inactivated_device SET mac_grant_key = #{mac_grant_key},stauts=1  WHERE device_sn=#{device_sn}
	</update>

	<update id="updateInactDeviceOnline" parameterType="pd">
		UPDATE tbl_inactivated_device SET online = #{online}  WHERE device_sn=#{device_sn}
	</update>
</mapper>