<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.cpfr.dao.DeviceDao">
	<select id="selectDevice" parameterType="pd" resultType="pd">
		select d.device_id,d.device_name,d.device_sn,d.online,d.register_time,d.activate_time,d.last_online_time,d.last_offline_time,c.open_door_type,c.success_msg,c.fail_msg,c.arcface_appid,c.arcface_sdkkey,c.arcface_activekey,c.baidu_tts_appid,c.baidu_tts_appkey,c.baidu_tts_secretkey,c.app_version
		 from tbl_#{wid}_device d left join tbl_#{wid}_device_config c on d.device_id=c.device_id where d.device_sn=#{device_sn}
	</select>

	<select id="selectDeviceList" parameterType="pd" resultType="pd">
		select device_id,device_name,device_sn,online,status,register_time,activate_time,last_online_time,last_offline_time from tbl_#{wid}_device
		<where>
			<if test="group_id!=null and group_id!=''">
				and group_id=#{group_id}
			</if>
			<if test="keyword!=null and keyword!=''">
				and POSITION(#{keyword} IN device_name) OR POSITION(#{keyword} IN device_sn)
			</if>
		</where>
	</select>

	<select id="selectInActDevice" parameterType="pd" resultType="pd">
		select device_sn,status,online,register_time,activate_time from tbl_inact_device where device_sn=#{device_sn}
	</select>

	<select id="selectInActDeviceList" parameterType="pd" resultType="pd">
		select id device_id,device_sn device_name,status,online,register_time from tbl_inact_device where status=0
		<if test="keyword!=null and keyword!=''">
			and POSITION(#{keyword} IN device_sn)
		</if>
	</select>

	<update id="updateInActDeviceOnline" parameterType="pd">
		UPDATE tbl_inact_device SET online = #{online} WHERE device_sn=#{device_sn}
	</update>

	<update id="updateDeviceOnline" parameterType="pd">
		UPDATE tbl_#{wid}_device SET online = #{online}
		<if test="online==1 or online=='1'">
			,last_online_time=now()
		</if>
		<if test="online==0 or online=='0'">
			,last_offline_time=now()
		</if>
		WHERE device_sn=#{device_sn}
	</update>

	<insert id="insertDevice" parameterType="pd">
		UPDATE tbl_inact_device SET status=1,admin_id=#{admin_id},activate_time=now() WHERE device_sn=#{device_sn};

		INSERT INTO tbl_#{wid}_device (device_name,device_sn,last_online_time,register_time,activate_time,online) select device_sn,device_sn,now(),register_time,activate_time,online from tbl_inact_device where device_sn=#{device_sn};

		INSERT INTO tbl_#{wid}_device_config (device_id,arcface_appid,arcface_sdkkey,arcface_activekey,baidu_tts_appid,baidu_tts_appkey,baidu_tts_secretkey) values ((select device_id from tbl_#{wid}_device where device_sn=#{device_sn}),#{arcface_appid},#{arcface_sdkkey},#{arcface_activekey},#{baidu_tts_appid},#{baidu_tts_appkey},#{baidu_tts_secretkey});
	</insert>

	<update id="updateDeviceGroupID" parameterType="pd">
		UPDATE tbl_#{wid}_device SET group_id = #{group_id} WHERE
		<foreach collection="list" item="data" separator=" or ">
			device_id=#{data.device_id}
		</foreach>
	</update>

	<select id="selectDeviceSnList" parameterType="pd" resultType="pd">
		select device_sn from tbl_#{wid}_device where
		<foreach collection="list" item="data" separator=" or ">
		    device_id=#{data.device_id}
		</foreach>
	</select>

	<update id="updateDeviceInfo" parameterType="pd">
		UPDATE tbl_#{wid}_device SET device_name = #{device_name} where device_sn=#{device_sn};

		UPDATE tbl_#{wid}_device_config SET open_door_type = #{open_door_type},success_msg=#{success_msg},fail_msg=#{fail_msg} where device_id=(select device_id from tbl_#{wid}_device where device_sn=#{device_sn});
	</update>

	<select id="selectAccessDeviceListByPersonId" parameterType="pd" resultType="pd">
		SELECT g.grant_id,d.device_id,d.device_name,g.pass_number,g.pass_start_time,g.pass_end_time,g.sync_status FROM tbl_#{wid}_device d right JOIN (SELECT grant_id,device_id,pass_number,pass_start_time,pass_end_time,sync_status FROM tbl_#{wid}_grant WHERE person_id = #{person_id} and status &lt;&gt; 3 )g ON g.device_id=d.device_id
		<where>
			<if test="keyword!=null and keyword!=''">
				and POSITION(#{keyword} IN d.device_name)
			</if>
		</where>
	</select>

	<delete id="deleteDeviceByDeviceID" parameterType="pd">
		UPDATE tbl_inact_device SET status=0,admin_id=NULL,activate_time=NULL WHERE device_sn=(SELECT device_sn FROM tbl_#{wid}_device WHERE device_id = #{device_id});

		DELETE d,c FROM tbl_#{wid}_device d LEFT JOIN tbl_#{wid}_device_config c ON d.device_id=c.device_id WHERE d.device_id=#{device_id};

		DELETE g FROM tbl_#{wid}_grant g WHERE g.device_id=#{device_id};
	</delete>

	<select id="selectDeviceSnByDeviceID" parameterType="pd" resultType="string">
		select device_sn from tbl_#{wid}_device where device_id=#{device_id}
	</select>

	<select id="selectDeviceSnByPersonId" parameterType="pd" resultType="string">
		SELECT d.device_sn FROM tbl_#{wid}_grant g RIGHT JOIN(SELECT device_sn,device_id FROM tbl_#{wid}_device)d  ON d.device_id = g.device_id WHERE g.person_id = #{person_id} ;
	</select>

	<update id="deleteDeviceGroupID" parameterType="pd">
		update tbl_#{wid}_device set group_id=0 where device_id = #{device_id};
	</update>

	<select id="selectWidByDeviceSn" parameterType="pd" resultType="int">
		SELECT wid FROM tbl_user  WHERE admin_id = (SELECT admin_id FROM tbl_inact_device  WHERE device_sn=#{device_sn})
	</select>

	<select id="selectDeviceStatusByDeviceSn" parameterType="pd" resultType="int">
		select status from tbl_inact_device where device_sn=#{device_sn}
	</select>

	<select id="selectDeviceGrantKey" parameterType="pd" resultType="pd">
		select arcface_appid,arcface_sdkkey,arcface_activekey,baidu_tts_appid,baidu_tts_appkey,baidu_tts_secretkey from tbl_#{wid}_device_config where device_id=(select device_id from tbl_#{wid}_device where device_sn=#{device_sn})
	</select>

	<update id="updateDeviceConfig" parameterType="pd">
		update tbl_#{wid}_device_config set app_version=#{app_version} where device_id=(select device_id from tbl_#{wid}_device where device_sn=#{device_sn})
	</update>

	<select id="selectSyncDownlStatus" parameterType="pd" resultType="pd">
		SELECT COUNT(CASE  WHEN sync_status=0 THEN 0 END) without_sync,
		       COUNT(CASE  WHEN sync_status=1 THEN 1 END) sync_success,
		       COUNT(CASE  WHEN sync_status=2 THEN 2 END) sync_fail FROM tbl_#{wid}_grant WHERE device_id=(select device_id from tbl_#{wid}_device where device_sn=#{device_sn})
	</select>

	<select id="selectDeviceListByGroupID" parameterType="pd" resultType="pd">
		SELECT DISTINCT d.device_id,d.device_name,d.device_sn FROM tbl_#{wid}_device d RIGHT JOIN tbl_#{wid}_grant g ON d.device_id = g.device_id WHERE d.group_id=#{group_id}
	</select>
</mapper>