<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.cpfr.dao.GrantDao">
	<insert id="insertGrant" parameterType="pd">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO tbl_#{wid}_grant
		(device_id,person_id,status,pass_number,pass_start_time,pass_end_time) VALUES
		<foreach collection="list" item="data" separator=",">
			(
				#{data.device_id},
				#{data.person_id},
		        1,
				#{data.pass_number,},
				#{data.pass_start_time},
				#{data.pass_end_time}
			)
		</foreach>
		ON DUPLICATE KEY UPDATE
		status=2,pass_number=#{data.pass_number},pass_start_time=#{data.pass_start_time},pass_end_time=#{data.pass_end_time},lmt=now();
	</insert>

	<update id="updateGrantBan" parameterType="pd">
		update tbl_#{wid}_grant set status=3 where
		<foreach collection="list" item="data" separator=" or ">
			(
				device_id=#{data.device_id} and person_id=#{data.person_id}
			)
		</foreach>
	</update>

	<insert id="insertGrantDeviceSnPersonId" parameterType="pd">
		INSERT INTO tbl_#{wid}_grant(device_id,person_id) VALUES((select device_id from tbl_#{wid}_device where device_sn=#{device_sn}),#{person_id});
	</insert>
</mapper>