<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.cpfr.dao.GroupDao">
	<select id="selectGroupList" parameterType="pd" resultType="pd">
		select group_id,group_name,super_id,type,create_time,lmt from tbl_#{wid}_group
		<where>
			<if test="keyword!=null and keyword!=''">
				and POSITION(#{keyword} IN group_name)
			</if>
		</where>
	</select>

	<select id="selectGroup" parameterType="pd" resultType="pd">
		select group_id,group_name,super_id,type,create_time,lmt from tbl_#{wid}_group where group_id=#{group_id}
	</select>

	<insert id="insertGroup" parameterType="pd">
		INSERT INTO tbl_#{wid}_group(group_name,super_id,type,create_time) values(#{group_name},0,1,now())
	</insert>

	<update id="updateGroupInfo" parameterType="pd">
		update tbl_#{wid}_group set group_name=#{group_name} where group_id=#{group_id}
	</update>

	<update id="deleteGroup" parameterType="pd">
		DELETE FROM tbl_#{wid}_group WHERE group_id=#{group_id};
		delete from tbl_#{wid}_group_device where group_id=#{group_id};
		delete from tbl_#{wid}_group_person where group_id=#{group_id};
	</update>

	<select id="selectGroupByGroupName" parameterType="pd" resultType="pd">
		select group_id,group_name,super_id,type,create_time,lmt from tbl_#{wid}_group where group_name=#{group_name}
	</select>

	<select id="selectGroupInPeople"  parameterType="pd" resultType="pd">
		SELECT g.group_id,g.group_name FROM tbl_#{wid}_group g right JOIN tbl_#{wid}_group_person p ON p.group_id = g.group_id
	</select>

	<insert id="insertGroupDevice" parameterType="pd">
		insert tbl_#{wid}_group_device (group_id,device_id,add_time) values
		<foreach collection="list" item="data" separator=",">
			(#{group_id},#{data.device_id},now())
		</foreach>
		ON DUPLICATE KEY UPDATE lmt=now();
	</insert>

	<insert id="insertGroupPerson" parameterType="pd">
		insert tbl_#{wid}_group_person (group_id,person_id,add_time) values
		<foreach collection="list" item="data" separator=",">
			(#{group_id},#{data.person_id},now())
		</foreach>
		ON DUPLICATE KEY UPDATE lmt=now();
	</insert>

	<delete id="deleteGroupDevice" parameterType="pd">
		delete from tbl_#{wid}_group_device where group_id=#{group_id} and device_id=#{device_id}
	</delete>

	<delete id="deleteGroupPerson" parameterType="pd">
		delete from tbl_#{wid}_group_person where group_id=#{group_id} and person_id=#{person_id}
	</delete>
</mapper>