<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.cpfr.dao.PersonDao">
	<select id="selectPerson" parameterType="pd" resultType="pd">
		SELECT person_id,person_name,emp_number,add_time,base_image from tbl_#{wid}_person where person_id=#{person_id}
	</select>

	<select id="selectPersonList" parameterType="pd" resultType="pd">
		select person_id,person_name,emp_number,base_image from tbl_#{wid}_person
		<where>
			<if test="group_id!=null and group_id!=''">
				group_id=#{group_id}
			</if>
		</where>
	</select>

	<insert id="insertPerson" parameterType="pd">
		INSERT INTO tbl_#{wid}_person(person_name,emp_number,add_time,base_image) VALUES(#{person_name},#{emp_number},now(),#{base_image})
	</insert>

	<update id="updatePersonGroupID" parameterType="pd">
		UPDATE tbl_#{wid}_person SET group_id = #{group_id}  WHERE
		<foreach collection="list" item="data" separator=" or ">
			person_id=#{data.person_id}
		</foreach>
	</update>
</mapper>