<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.cpfr.dao.RecordDao">
    <select id="selectRecordListWithBlob" parameterType="pd" resultType="pd">
        SELECT r.record_id,p.person_name,d.device_name,r.record_time,r.record_image base_image,r.recog_type FROM
        tbl_#{wid}_person p RIGHT JOIN tbl_#{wid}_record r ON p.person_id=r.person_id LEFT JOIN tbl_#{wid}_device d ON
        r.device_id=d.device_id
        <where>
            <if test="device_id!=null and device_id!=''">
                and r.device_id=#{device_id}
            </if>
            <if test="keyword!=null and keyword!=''">
                and ( POSITION(#{keyword} IN p.person_name) OR POSITION(#{keyword} IN d.device_name) )
            </if>
        </where>
        order by r.record_time desc
    </select>

    <delete id="deleteRecord" parameterType="pd">
        delete from tbl_#{wid}_record where record_id=#{record_id}
    </delete>

    <delete id="deleteRecordLists" parameterType="pd">
        delete from tbl_#{wid}_record where record_id in
        <foreach collection="list" item="data" open="(" separator="," close=")">
            #{data.record_id}
        </foreach>
    </delete>

    <delete id="deleteRecodeAll" parameterType="pd">
        delete from tbl_#{wid}_record
        <where>
         <if test="device_id!=null and device_id!=''">
        and device_id=#{device_id}
    </if></where>
    </delete>
</mapper>