<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.cpfr.dao.UserDao">
	<select id="selectUserByName" parameterType="pd" resultType="com.ts.cpfr.entity.LoginUser">
        select id,name,password from tbl_user where name=#{name}
    </select>
	<insert id="insertAdminUser" parameterType="pd">
		INSERT INTO tbl_user(wid,name,password,permission_level) VALUES(LAST_INSERT_ID(),#{name},#{password},0)
	</insert>
</mapper>