<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.cpfr.dao.UserDao">
    <resultMap id="userMap" type="com.ts.cpfr.entity.UserInfo">
        <result column="user_id" property="userId"/>
        <collection column="user_id" property="roleList"
                    select="com.ts.cpfr.dao.UserDao.selectRoleListByUserID">
        </collection>
    </resultMap>
    <select id="selectUserMapByName" parameterType="pd" resultMap="userMap">
        select user_id,wid,name,password
        from tbl_user
        where name = #{name}
    </select>

    <update id="insertUser" parameterType="pd">
        INSERT INTO tbl_user(name, password, permission_level, register_time)
        VALUES (#{name}, #{password}, 0, now());
        UPDATE tbl_user
        SET wid = (SELECT LAST_INSERT_ID())
        WHERE user_id = (SELECT LAST_INSERT_ID());
    </update>

    <select id="selectWidByUserId" parameterType="String" resultType="int">
        select wid
        from tbl_user
        where user_id = #{wid}
    </select>

    <update id="updateUserLoginTime" parameterType="pd">
        update tbl_user
        set last_login_time=now()
        where user_id = #{user_id}
    </update>

    <update id="updateUserPassword" parameterType="pd">
        update tbl_user
        set password=#{new_password}
        where user_id = #{user_id}
    </update>

    <select id="selectWidList" resultType="pd">
        select wid from tbl_user;
    </select>

    <select id="selectRoleListByUserID" parameterType="int" resultType="com.ts.cpfr.entity.Role">
        SELECT r.role_id,r.role_name,r.role_desc FROM tbl_role r RIGHT JOIN tbl_user_role ur ON r.role_id=ur.role_id WHERE ur.user_id=#{user_id}
    </select>
</mapper>